<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->


      <div class="text-center">
        <img [src]="url"
          class="rounded-circle avatar img-thumbnail" alt="avatar">
        <h6>Selecione imagem para seu perfil...</h6>
        <input [(ngModel)]="file"  (change)="uploadFile($event)" type="file" class="text-center center-block file-upload">
      </div>
      <hr>
      <br>
    </div>
    <div class="col-sm-9">
      <ul class="list-group">
        <li class="list-group-item">
          <strong><h3>Perfil</h3></strong></li>
        <li class="list-group-item">
          <strong>Nick:</strong> {{usuario.nick}}</li>
        <li class="list-group-item">
          <strong>Email:</strong> {{usuario.email}}</li>
        <li class="list-group-item">
          <strong>Telefone:</strong> {{usuario.tel}}</li>
      </ul>
      <hr>
      <ul class="list-group">
          <li class="list-group-item">
              <strong><h5>Todas Tags</h5></strong>(Area Teste Tags)</li>
        <li class="list-group-item" *ngFor="let tag of tags"> {{ tag.nome }}</li>
      </ul>
    </div>
  </div>
</div>