
<div class='my-login-page text-center'>
  <div class='container h-100'>
    <div class="jumbotron bg-dark text-light">
      <h1>Freelancer Aluno</h1>
      <p>O Freelancer Aluno é um sistema para pedidos de auxilio com estudos, onde pode-se enviar pedidos de ajuda e 
        receber propostas. Para utilizar o sistema é necessário realizar o login. A criação de conta é gratuita.
      </p>
    </div>
    <div class='row justify-content-center h-100'>
      <div class='card-wrapper'>
        <div class='card fat'>
          <div class='card-body'>
            <h4 class='card-title'>Login</h4>
            <div>
              <div class='form-group'>
                <label for='email'>Email</label>

                <input [(ngModel)]='email' id='email' type='email' class='form-control' name='email' value='' required
                  autofocus>
              </div>

              <div class='form-group'>
                <label for='password'>Senha
                  <br>
                  <a hidden href='forgot.html' class='float-right'>
                    <small>Esqueceu a senha?</small>
                  </a>
                </label>
                <input [(ngModel)]='password' id='password' type='password' class='form-control' name='password'
                  required data-eye>
              </div>

              <div *ngIf="erro" class="alert alert-danger"> {{ erroDesc }}</div>

              <div class='form-group' hidden>
                <label>
                  <input type='checkbox' name='remember'> Lembrar
                </label>
              </div>

              <div class='form-group no-margin'>
                <button (click)='login()' [disabled]="submit" type='submit' class='btn btn-primary btn-block'>
                  Login
                </button>
              </div>
              <div class='margin-top20 text-center'>
                Não possui uma conta? <a routerLink='/cadastro'>Criar uma conta</a>
              </div>
            </div>
            <app-signin></app-signin>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>