<app-navbar></app-navbar>
<div class="container">
    <h3>Criar Pedido</h3>
    <div class="row card">
        <div class="ml-auto mr-auto col-sm-6 mt-2">
            <div class="form-group">
                <label for="titulo" class="">Titulo:</label>
                <input [(ngModel)]="titulo" type="text" id="titulo" class="form-control">
            </div>
            <div class="form-group">
                <label for="disciplina" class="">Disciplina</label>
                <input [(ngModel)]="disciplina" type="text" id="disciplina" class="form-control">
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea [(ngModel)]="descricao" class="form-control" rows="5" id="descricao"></textarea>
            </div>
            <div class="form-group">
                <label for="tags">Tags:</label>
                <input [(ngModel)]="tags" type="text" id="tags" class="form-control">
            </div>
            <div>
                <p *ngIf="sucesso" class="alert alert-success"> {{ alerta }} </p>
                <p *ngIf="falha" class="alert alert-danger"> {{ alerta }} </p>
            </div>
            <button class="btn btn-dark mb-2" (click)="criarPedido()">Enviar</button>
        </div>
    </div>
</div>